.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  top: 3rem;
  left: 93%;
  transform: all .4s;
  cursor: pointer;
  z-index: 1001;
}

.line {
  height: .2rem;
  width: 2.4rem;
  background-color: #8A8A8A;
  transition: all .3s;
}

.container:hover .top {
  transform: translateY(-.3rem)
}
.container:hover .bottom {
  transform: translateY(.3rem)
}

.closeContainer {
  position: fixed;
  top: 3rem;
  left: 90%;
  transform: all .4s;
  cursor: pointer;
  z-index: 1001;
  height: 3rem;
  width: 3rem;
}

.closeLine {
  height: .2rem;
  width: 2.4rem;
  background-color: #8A8A8A;
  transition: all .4s;
}

.left {
  transform: rotate(45deg);
}

.right {
  transform: rotate(-45deg) translateY(-.2rem);
}

@media only screen and (max-width: 1000px){
  .container {
    left: 85%;
    top: 90%;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    height: 3.5rem;
    width: 3.5rem;
  }
  .closeContainer{
    left: 85%;
  }
}