.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  top: 3rem;
  left: 90%;
  transform: all .4s;
  cursor: pointer;
  z-index: 2;
}

.line {
  height: .2rem;
  width: 2.4rem;
  background-color: #8A8A8A;
  transition: all .3s;
}

.container:hover .top {
  transform: translateY(-.3rem)
}
.container:hover .bottom {
  transform: translateY(.3rem)
}

.closeContainer {
  position: absolute;
  top: 3rem;
  left: 90%;
  transform: all .4s;
  cursor: pointer;
  z-index: 5;
  height: 3rem;
  width: 3rem;
}

.closeLine {
  height: .2rem;
  width: 2.4rem;
  background-color: #8A8A8A;
  transition: all .4s;
}

.left {
  transform: rotate(45deg);
}

.right {
  transform: rotate(-45deg) translateY(-.2rem);
}

@media only screen and (max-width: 1000px){
  .container {
    left: 85%;
  }
  .closeContainer{
    left: 85%;
  }
}