.container {
  /* height: 20rem; */
  width: 100%;
  position: relative;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  background-color: pink;
  margin: 2rem auto 0rem auto;
  z-index: 1;
}
.imagecontainer {
  height: 20rem;
  width: 100%;
  transition: all 0.4s;
  position: absolute;
  opacity: 0;
}
.image {
  width: 100%;
  object-fit: contain;
}

.prev {
  transform: translateX(-20%);
}
.next {
  transform: translateX(20%);
}

.active {
  opacity: 1;
  z-index: 5;
}
.arrow {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  padding: .2rem;
  border: none;
  border-radius: 3rem;
  background-color: var(--grey);
  opacity: 0.8;
  color: #00796B;
  font-size: 3rem;
  cursor: pointer;
  z-index: 6;
  position: absolute;
  top: 15rem;
}

.right {
  right: 5%;
}
.left {
  left: 5%;
}
.arrow:active {
  opacity: 0.4;
}
@media (max-width: 800px) {
  .container {
    min-width: 98%;
  }
  .imagecontainer {
    top: -5%;
  }
  .arrow {
    top: 25%;
  }
  .right {
    right: 0;
  }
  .left {
    left: 0;
  }

}
