.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 60%;
  margin: 4rem auto 0rem auto;
}

.textContainer h1 {
  color: #CACACA;
  font-size: 2.6rem;
}

.textContainer p {
  color: #8A8A8A; 
  font-size: 1.3rem;
  line-height: .7em;
}

.btnContainer {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: .5rem;
}

.socials {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left:auto;
}

.icon {
  font-size: 1.4rem;
}

.btnText {
  margin: 0px;
  margin-left: .5rem;
  font-weight: bold;
  font-size: 1rem;
}