.container {
  width: 60%;
  margin: 1rem auto 0rem auto;
}

.container p {
  font-size: 1rem;
  color: #8A8A8A;
}

.list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}