.container {
  margin: 1rem auto 0rem auto;
}

.container p {
  font-size: 1rem;
  color: #8a8a8a;
}

.list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 0px;
}
