.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3rem 0rem;
}

.container h1 {
  margin: 0px;
  color: #CACACA;
}

.container p {
  margin: .8rem;
  line-height: 1.5rem;
  font-size: 1rem;
  color: #8A8A8A;
}

.link {
  text-decoration: none;
  color: #CACACA;
  font-weight: bold;
  cursor: pointer;
}