.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.textContainer {
  text-align: center;
  margin: 15rem auto 0rem auto;
}

.textContainer h1 {
  position: relative;
  color: #cacaca;
  font-size: 2.6rem;
}

.textContainer p {
  color: #8a8a8a;
  font-size: 1.3rem;
  line-height: 1.7em;
}


.btnContainer {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.link {
  text-decoration: none;
  color: #cacaca;
  font-weight: bold;
  cursor: pointer;
}

/* 
.textContainer h1::before,
.textContainer h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.textContainer h1::before {
  content: "";
  background-color: #2f2f2f;
  animation: type 3s steps(15, end) 1s forwards;
}

.textContainer h1::after{
  content: "";
  background-color: black;
  width: 2px;
  animation: type 2.7s steps(20, end) 1s forwards, pulse .8s infinite;
}

@keyframes type {
  to {
    left: 100%
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */