.container {
  position: fixed;
  height: 300px;
  width: 300px;
  top: 0;
  right: 0;
  z-index: 170;
}

.banner {
  position: absolute;
  height: 2.4rem;
  width: 160%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0076b5;
  transform: rotate(45deg);
  top: 35%;
  left: -20%;
  font-size: .9rem;
  font-weight: bold;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  cursor: pointer;
  animation: 1.2s bannerSlide both;
  animation-delay: .5s;
  text-decoration: none;
  transition: all .3s ease-in;
}

.banner:hover {
  background-color: #005888;
}

@keyframes bannerSlide {
  0% {
    transform: rotate(45deg) translateX(-10rem) translateY(-15rem);
  }

  100% {
    transform: rotate(45deg) translateX(0%) translateY(0%);
  }
}

@media only screen and (max-width: 1000px){
  .container {
    width: 200px;
    height: 200px;
  }
}
@media only screen and (max-width: 700px){
  .container {
    width: 150px;
    height: 150px;
  }

  .banner {
    font-size: .7rem;
  }
}