.container {
  cursor: pointer;
  border-radius: 0.2rem;
  padding: 1rem 2rem;
  font-size: 0.8rem;
  color: #fff;
  transition: all 0.2s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  user-select: none;
  text-decoration: none;
}

.container:active {
  transform: translateY(5px);
}
