.container {
  margin: 0rem auto 0rem auto;
}

.container p {
  color: #8A8A8A; 
  font-size: 1rem;
}

.textContainer h1 {
  color: #CACACA;
  font-size: 2.6rem;
  margin: 0rem;
}

.textContainer p {
  color: #8A8A8A; 
  font-size: 1.2rem;
  line-height: 1.7em;
}

.techContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px #8A8A8A;
  border-radius: .5rem;
  height: 8rem;
  width: 8rem;
}

.techContainer p {
  margin: 0rem;
}